@charset "UTF-8";
body {
  font-family: 'Microsoft JhengHei';
}

.condition {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

.condition .button_line {
  padding: 20px 0;
  text-align: center;
}

.condition .button_line button.send {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #94ca60;
}

.condition .button_line button.delete {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #990000;
}

.condition .btn {
  padding: 5px 13px;
  line-height: 24px;
}

.condition .part {
  clear: both;
}

.condition .part .leftbox {
  float: left;
  width: 48%;
  margin: 0 2% 20px 0;
}

.condition .part .rightbox {
  float: right;
  width: 48%;
  margin: 0 0 20px 2%;
}

.condition .part .zone {
  width: 100%;
  margin: 0 0 50px 0;
}

.condition .part .zone .blockpart {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: #037FCE;
}

.condition .part .zone .pimg {
  position: relative;
  display: block;
  width: 240px;
  height: 206px;
  margin: 0 auto 20px auto;
}

.condition .part .zone .pimg .num {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: #ff9900;
}

.condition .part .zone .pimg .num.num-1 {
  top: 15%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-2 {
  top: 30%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-3 {
  top: 50%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-4 {
  top: 65%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-5 {
  top: 80%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-6 {
  top: 25%;
  left: 90%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-7 {
  top: 45%;
  left: 90%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-8 {
  top: 25%;
  left: 10%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-9 {
  top: 45%;
  left: 10%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-10 {
  top: 28%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-11 {
  top: 42%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-12 {
  top: 55%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-13 {
  top: 78%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-14 {
  top: 42%;
  left: 5%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-15 {
  top: 42%;
  left: 95%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg .num.num-16 {
  top: 52%;
  left: 22%;
}

.condition .part .zone .pimg .num.num-17 {
  top: 55%;
  left: 40%;
}

.condition .part .zone .pimg .num.num-18 {
  top: 55%;
  left: 60%;
}

.condition .part .zone .pimg .num.num-19 {
  top: 45%;
  left: 85%;
}

.condition .part .zone .pimg .num.num-20 {
  top: 32%;
  left: 40%;
}

.condition .part .zone .pimg .num.num-21 {
  top: 32%;
  left: 60%;
}

.condition .part .zone .pimg .num.num-22 {
  top: 52%;
  left: 73%;
}

.condition .part .zone .pimg .num.num-23 {
  top: 55%;
  left: 55%;
}

.condition .part .zone .pimg .num.num-24 {
  top: 55%;
  left: 35%;
}

.condition .part .zone .pimg .num.num-25 {
  top: 45%;
  left: 10%;
}

.condition .part .zone .pimg .num.num-26 {
  top: 32%;
  left: 55%;
}

.condition .part .zone .pimg .num.num-27 {
  top: 32%;
  left: 35%;
}

.condition .part .zone .pimg .num.num-t1 {
  top: 95%;
  left: 18%;
}

.condition .part .zone .pimg .num.num-t2 {
  top: 95%;
  left: 78%;
}

.condition .part .zone .pimg .num.num-t3 {
  top: 95%;
  left: 77%;
}

.condition .part .zone .pimg .num.num-t4 {
  top: 95%;
  left: 17%;
}

.condition .part .zone .pimg .bar {
  position: absolute;
  display: block;
  width: 2px;
  background: #ff9900;
}

.condition .part .zone .pimg .bar.num-6 {
  top: 27%;
  left: 85%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg .bar.num-7 {
  top: 50%;
  left: 85%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg .bar.num-8 {
  top: 27%;
  left: 15%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg .bar.num-9 {
  top: 50%;
  left: 15%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg .bar.num-14 {
  top: 46%;
  left: 12%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg .bar.num-15 {
  top: 46%;
  left: 88%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg .bar.num-t1 {
  top: 90%;
  left: 20%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg .bar.num-t2 {
  top: 90%;
  left: 80%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg .bar.num-t3 {
  top: 90%;
  left: 80%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg .bar.num-t4 {
  top: 90%;
  left: 20%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg2 {
  position: relative;
  display: block;
  width: 240px;
  height: 206px;
  margin: 0 auto 20px auto;
}

.condition .part .zone .pimg2 .num {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: #ff9900;
}

.condition .part .zone .pimg2 .num.num-1 {
  top: 14%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-2 {
  top: 25%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-3 {
  top: 40%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-4 {
  top: 55%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-5 {
  top: 67%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-6 {
  top: 20%;
  left: 90%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-7 {
  top: 50%;
  left: 90%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-8 {
  top: 20%;
  left: 5%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-9 {
  top: 50%;
  left: 10%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-10 {
  top: 27%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-11 {
  top: 53%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-12 {
  top: 43%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-13 {
  top: 65%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-14 {
  top: 55%;
  left: 8%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-15 {
  top: 55%;
  left: 92%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg2 .num.num-16 {
  top: 55%;
  left: 25%;
}

.condition .part .zone .pimg2 .num.num-17 {
  top: 60%;
  left: 40%;
}

.condition .part .zone .pimg2 .num.num-18 {
  top: 60%;
  left: 60%;
}

.condition .part .zone .pimg2 .num.num-19 {
  top: 50%;
  left: 75%;
}

.condition .part .zone .pimg2 .num.num-20 {
  top: 35%;
  left: 40%;
}

.condition .part .zone .pimg2 .num.num-21 {
  top: 32%;
  left: 60%;
}

.condition .part .zone .pimg2 .num.num-22 {
  top: 55%;
  left: 69%;
}

.condition .part .zone .pimg2 .num.num-23 {
  top: 60%;
  left: 54%;
}

.condition .part .zone .pimg2 .num.num-24 {
  top: 60%;
  left: 34%;
}

.condition .part .zone .pimg2 .num.num-25 {
  top: 50%;
  left: 17%;
}

.condition .part .zone .pimg2 .num.num-26 {
  top: 35%;
  left: 54%;
}

.condition .part .zone .pimg2 .num.num-27 {
  top: 32%;
  left: 34%;
}

.condition .part .zone .pimg2 .num.num-t1 {
  top: 95%;
  left: 20%;
}

.condition .part .zone .pimg2 .num.num-t2 {
  top: 95%;
  left: 75%;
}

.condition .part .zone .pimg2 .num.num-t3 {
  top: 95%;
  left: 74%;
}

.condition .part .zone .pimg2 .num.num-t4 {
  top: 95%;
  left: 19%;
}

.condition .part .zone .pimg2 .bar {
  position: absolute;
  display: block;
  width: 2px;
  background: #ff9900;
}

.condition .part .zone .pimg2 .bar.num-6 {
  top: 27%;
  left: 85%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg2 .bar.num-7 {
  top: 45%;
  left: 85%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg2 .bar.num-8 {
  top: 27%;
  left: 10%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg2 .bar.num-9 {
  top: 45%;
  left: 15%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg2 .bar.num-14 {
  top: 45%;
  left: 15%;
  height: 30px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg2 .bar.num-15 {
  top: 45%;
  left: 85%;
  height: 30px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg2 .bar.num-t1 {
  top: 90%;
  left: 22%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg2 .bar.num-t2 {
  top: 90%;
  left: 77%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg2 .bar.num-t3 {
  top: 90%;
  left: 77%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg2 .bar.num-t4 {
  top: 90%;
  left: 22%;
  height: 15px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg3 {
  position: relative;
  display: block;
  width: 240px;
  height: 206px;
  margin: 0 auto 20px auto;
}

.condition .part .zone .pimg3 .num {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: #ff9900;
}

.condition .part .zone .pimg3 .num.num-1 {
  top: 12%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-2 {
  top: 25%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-3 {
  top: 40%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-4 {
  top: 52%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-5 {
  top: 68%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-6 {
  top: 25%;
  left: 90%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-7 {
  top: 55%;
  left: 85%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-8 {
  top: 25%;
  left: 10%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-9 {
  top: 55%;
  left: 15%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-10 {
  top: 25%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-11 {
  top: 40%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-12 {
  top: 52%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-13 {
  top: 70%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-14 {
  top: 65%;
  left: 10%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-15 {
  top: 65%;
  left: 90%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg3 .num.num-16 {
  top: 48%;
  left: 15%;
}

.condition .part .zone .pimg3 .num.num-17 {
  top: 52%;
  left: 35%;
}

.condition .part .zone .pimg3 .num.num-18 {
  top: 52%;
  left: 55%;
}

.condition .part .zone .pimg3 .num.num-19 {
  top: 48%;
  left: 80%;
}

.condition .part .zone .pimg3 .num.num-20 {
  top: 25%;
  left: 35%;
}

.condition .part .zone .pimg3 .num.num-21 {
  top: 25%;
  left: 55%;
}

.condition .part .zone .pimg3 .num.num-22 {
  top: 25%;
  left: 75%;
}

.condition .part .zone .pimg3 .num.num-23 {
  top: 48%;
  left: 80%;
}

.condition .part .zone .pimg3 .num.num-24 {
  top: 52%;
  left: 60%;
}

.condition .part .zone .pimg3 .num.num-25 {
  top: 52%;
  left: 40%;
}

.condition .part .zone .pimg3 .num.num-26 {
  top: 48%;
  left: 15%;
}

.condition .part .zone .pimg3 .num.num-27 {
  top: 25%;
  left: 60%;
}

.condition .part .zone .pimg3 .num.num-28 {
  top: 25%;
  left: 40%;
}

.condition .part .zone .pimg3 .num.num-29 {
  top: 25%;
  left: 20%;
}

.condition .part .zone .pimg3 .num.num-t1 {
  top: 90%;
  left: 22%;
}

.condition .part .zone .pimg3 .num.num-t2 {
  top: 90%;
  left: 72%;
}

.condition .part .zone .pimg3 .num.num-t3 {
  top: 90%;
  left: 73%;
}

.condition .part .zone .pimg3 .num.num-t4 {
  top: 90%;
  left: 23%;
}

.condition .part .zone .pimg3 .num.num-t4 {
  top: 90%;
  left: 23%;
}

.condition .part .zone .pimg3 .bar {
  position: absolute;
  display: block;
  width: 2px;
  background: #ff9900;
}

.condition .part .zone .pimg3 .bar.num-6 {
  top: 32%;
  left: 85%;
  height: 13px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg3 .bar.num-7 {
  top: 48%;
  left: 78%;
  height: 30px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg3 .bar.num-8 {
  top: 32%;
  left: 15%;
  height: 13px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg3 .bar.num-9 {
  top: 48%;
  left: 22%;
  height: 30px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg3 .bar.num-14 {
  top: 52%;
  left: 18%;
  height: 35px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg3 .bar.num-15 {
  top: 52%;
  left: 82%;
  height: 35px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg3 .bar.num-t1 {
  top: 83%;
  left: 24%;
  height: 15px;
}

.condition .part .zone .pimg3 .bar.num-t2 {
  top: 83%;
  left: 74%;
  height: 15px;
}

.condition .part .zone .pimg3 .bar.num-t3 {
  top: 83%;
  left: 75%;
  height: 15px;
}

.condition .part .zone .pimg3 .bar.num-t4 {
  top: 83%;
  left: 25%;
  height: 15px;
}

.condition .part .zone .pimg4 {
  position: relative;
  display: block;
  width: 240px;
  height: 206px;
  margin: 0 auto 20px auto;
}

.condition .part .zone .pimg4 .num {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: #ff9900;
}

.condition .part .zone .pimg4 .num.num-1 {
  top: 3%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-2 {
  top: 20%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-3 {
  top: 35%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-4 {
  top: 60%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-5 {
  top: 15%;
  left: 80%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-6 {
  top: 50%;
  left: 70%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-7 {
  top: 15%;
  left: 20%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-8 {
  top: 50%;
  left: 30%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-9 {
  top: 3%;
  left: 52%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-10 {
  top: 22%;
  left: 52%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-11 {
  top: 40%;
  left: 52%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-12 {
  top: 60%;
  left: 52%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-13 {
  top: 27%;
  left: 22%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-14 {
  top: 27%;
  left: 78%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-15 {
  top: 62%;
  left: 32%;
}

.condition .part .zone .pimg4 .num.num-16 {
  top: 72%;
  left: 45%;
}

.condition .part .zone .pimg4 .num.num-17 {
  top: 55%;
  left: 60%;
}

.condition .part .zone .pimg4 .num.num-18 {
  top: 30%;
  left: 55%;
}

.condition .part .zone .pimg4 .num.num-19 {
  top: 12%;
  left: 79%;
}

.condition .part .zone .pimg4 .num.num-20 {
  top: 60%;
  left: 65%;
}

.condition .part .zone .pimg4 .num.num-21 {
  top: 72%;
  left: 55%;
}

.condition .part .zone .pimg4 .num.num-22 {
  top: 55%;
  left: 35%;
}

.condition .part .zone .pimg4 .num.num-23 {
  top: 88%;
  left: 17%;
}

.condition .part .zone .pimg4 .num.num-t1 {
  top: 80%;
  left: 50%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .num.num-t2 {
  top: 80%;
  left: 52%;
  margin: 0 0 0 -10px;
}

.condition .part .zone .pimg4 .bar {
  position: absolute;
  display: block;
  width: 2px;
  background: #ff9900;
}

.condition .part .zone .pimg4 .bar.num-1 {
  top: 12%;
  left: 50%;
  height: 13px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg4 .bar.num-5 {
  top: 11%;
  left: 75%;
  height: 13px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.condition .part .zone .pimg4 .bar.num-6 {
  top: 45%;
  left: 62%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.condition .part .zone .pimg4 .bar.num-7 {
  top: 11%;
  left: 25%;
  height: 13px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg4 .bar.num-8 {
  top: 45%;
  left: 38%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.condition .part .zone .pimg4 .bar.num-9 {
  top: 12%;
  left: 52%;
  height: 13px;
  margin: 0 0 0 -1px;
}

.condition .part .zone .pimg4 .bar.num-13 {
  top: 21%;
  left: 30%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.condition .part .zone .pimg4 .bar.num-14 {
  top: 21%;
  left: 70%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.condition .part .zone .pimg4 .bar.num-19 {
  top: 18%;
  left: 78%;
  height: 25px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.condition .part .zone .pimg4 .bar.num-23 {
  top: 65%;
  left: 22%;
  height: 50px;
  margin: 0 0 0 -1px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.condition .part .zone.zone-1 .pimg {
  background: url(../image/zone_1_1.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-1 .pimg2 {
  background: url(../image/zone_2_1.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-1 .pimg3 {
  background: url(../image/zone_3_1.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-1 .pimg4 {
  background: url(../image/zone_4_1.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-2 .pimg {
  background: url(../image/zone_1_2.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-2 .pimg2 {
  background: url(../image/zone_2_2.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-2 .pimg3 {
  background: url(../image/zone_3_2.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-2 .pimg4 {
  background: url(../image/zone_4_2.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-3 .pimg {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_1_3.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-3 .pimg2 {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_2_3.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-3 .pimg3 {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_3_3.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-3 .pimg4 {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_4_3.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-4 .pimg {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_1_4.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-4 .pimg2 {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_2_4.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-4 .pimg3 {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_3_4.jpg) no-repeat 50% 50%;
}

.condition .part .zone.zone-4 .pimg4 {
  width: 422px;
  height: 198px;
  margin: 0 auto 20px auto;
  background: url(../image/zone_4_4.jpg) no-repeat 50% 50%;
}

.condition .part .zone .condition-item {
  display: block;
}

.condition .part .zone .condition-item p {
  width: 100%;
  height: 34px;
  margin: 0 0 10px 0;
}

.condition .part .zone .condition-item label {
  display: inline-block;
  width: 35%;
}

.condition .part .zone .condition-item b {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px -4px 0;
}

.condition .part .zone .condition-item b.c0 {
  background: url(../image/condition_0.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c1 {
  background: url(../image/condition_1.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c2 {
  background: url(../image/condition_2.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c3 {
  background: url(../image/condition_3.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c4 {
  background: url(../image/condition_4.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c5 {
  background: url(../image/condition_5.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c6 {
  background: url(../image/condition_6.png) no-repeat 50% 50%;
}

.condition .part .zone .condition-item b.c7 {
  background: url(../image/condition_7.png) no-repeat 50% 50%;
}

#calendar_box {
  font-size: 16px;
  background: #D8E6FD;
}

#calendar_box .title {
  height: 36px;
  margin: 10px 0;
  border-radius: 5px;
  background: #037FCE;
}

#calendar_box .title h3 {
  margin: 0;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
}

#calendar_box .box {
  margin: 0;
  padding: 15px 0 0 0;
  border: 1px solid #89C5EB;
  border-radius: 5px;
  background: #fff;
  overflow-y: auto;
}

#calendar_box .box .container {
  width: 100%;
}

#calendar_box .box ul.vehicle-info {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

#calendar_box .box ul.vehicle-info li {
  float: left;
  margin: 0 0 0 0;
  background: #fff;
}

#calendar_box .box ul.vehicle-info li label {
  display: inline-block;
  width: 90px;
  height: 32px;
  margin: 0 10px 0 0;
  line-height: 32px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #EAAB6C;
}

#calendar_box .box .panel {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#calendar_box .box .panel-default {
  border: 0;
}

#calendar_box .box .panel-body {
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  border: 0;
}

#calendar_box .box .panel-body .nav-tabs {
  border-bottom: 1px solid #ccc;
  overflow: visible;
}

#calendar_box .box .panel-body .nav-tabs li {
  display: inline-block;
  width: 25%;
  margin: 0 0 -2px 0;
  border: 0;
  background: #fff;
}

#calendar_box .box .panel-body .nav-tabs li > a {
  margin: 0;
  border: 0;
  font-size: 18px;
  line-height: 22px;
  color: #999;
  cursor: pointer;
}

#calendar_box .box .panel-body .nav-tabs li > a:hover {
  background: none;
}

#calendar_box .box .panel-body .nav-tabs li > a span.num {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  background: #999;
}

#calendar_box .box .panel-body .nav-tabs li.active {
  margin: 0 0 -2px 0;
  border-left: 0;
  border-bottom: 3px solid #037FCE;
}

#calendar_box .box .panel-body .nav-tabs li.active > a {
  color: #555;
}

#calendar_box .box .panel-body .nav-tabs li.active > a span.num {
  background: #037FCE;
}

#calendar_box .box .tab-content {
  height: 365px;
  padding: 10px 0;
  overflow: hidden;
}

#calendar_box .box .tab-content .tableform {
  width: 100%;
  padding: 10px 20px;
  list-style: none;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

#calendar_box .box .tab-content .tableform.tableform2 li {
  height: 36px;
}

#calendar_box .box .tab-content .tableform.tableform2 li.traffic {
  height: auto;
}

#calendar_box .box .tab-content .tableform.tableform2 li label {
  width: 175px;
}

#calendar_box .box .tab-content .tableform.tableform2 li label.short {
  width: 120px;
}

#calendar_box .box .tab-content .tableform.tableform2 li label.flight {
  width: 120px;
}

#calendar_box .box .tab-content .tableform.tableform2 li label.flight span {
  margin: 0 5px 0 0;
  padding: 0 5px;
  border-radius: 3px;
}

#calendar_box .box .tab-content .tableform.tableform2 li label.flight span.outbound {
  color: #fff;
  background: #1978ab;
}

#calendar_box .box .tab-content .tableform.tableform2 li label.flight span.inbound {
  color: #fff;
  background: #990000;
}

#calendar_box .box .tab-content .tableform.tableform2 li label.accessories {
  width: 160px;
}

#calendar_box .box .tab-content .tableform.tableform2 li input {
  padding: 0 10px;
}

#calendar_box .box .tab-content .tableform.tableform2 li input.address {
  width: 450px;
}

#calendar_box .box .tab-content .tableform.tableform2 li input.flight {
  width: 105px;
  border-radius: 5px 0 0 5px;
}

#calendar_box .box .tab-content .tableform li {
  float: left;
  line-height: 32px;
}

#calendar_box .box .tab-content .tableform li label {
  display: block;
  float: left;
  width: 100px;
  height: 32px;
  line-height: 32px;
}

#calendar_box .box .tab-content .tableform li label span {
  color: #eee;
}

#calendar_box .box .tab-content .tableform li label span.required {
  color: #990000;
}

#calendar_box .box .tab-content .tableform li b {
  color: #990000;
}

#calendar_box .box .tab-content .tableform li .input-group {
  display: block;
  overflow: auto;
}

#calendar_box .box .tab-content .tableform li .input-group input {
  float: left;
  width: 120px;
}

#calendar_box .box .tab-content .tableform li .input-group span {
  float: left;
}

#calendar_box .box .tab-content .tableform li .input-group select {
  margin: 0 0 0 40px;
  border-radius: 5px;
}

#calendar_box .box .tab-content .tableform li .input-group select.min {
  margin: 0;
}

#calendar_box .box .tab-content .tableform li .input-group button {
  height: 32px;
  border-radius: 0 5px 5px 0;
}

#calendar_box .box .tab-content .tableform li select {
  height: 32px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .box .tab-content .tableform li input[type='text'] {
  width: 135px;
  height: 32px;
  padding: 0 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .box .tab-content .tableform li input[type='text'].ptxt2 {
  border-radius: 5px 0 0 5px !important;
}

#calendar_box .box .tab-content .tableform li .minsu {
  width: 200px;
  border-radius: 5px;
}

#calendar_box .box .tab-content .tableform li .notebox {
  width: 1080px;
  height: 72px;
  padding: 5px 13px;
  line-height: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .box .order_info {
  width: 100%;
}

#calendar_box .box .order_info th {
  width: 120px;
  height: 40px;
  text-align: left;
}

#calendar_box .box .order_info td {
  padding: 0 0 8px 0;
}

#calendar_box .box .order_info td .date {
  display: inline-block;
  width: 350px;
  overflow: hidden;
}

#calendar_box .box .order_info td .date .input-group-btn {
  display: block;
  float: left;
}

#calendar_box .box .order_info td .btn {
  display: inline-block;
  height: 32px;
  border-radius: 5px;
}

#calendar_box .box .order_info td input.ptxt {
  width: 200px;
  height: 32px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  line-height: 32px;
  font-size: 16px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .box .order_info td input.ptxt2 {
  float: left;
  width: 150px;
  height: 32px;
  margin: 0 5px 0 0;
  padding: 0 10px;
  line-height: 32px;
  font-size: 16px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .box .order_info td select {
  width: 200px;
  height: 32px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  line-height: 32px;
  font-size: 16px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .box .order_info td select.select {
  display: block;
  float: left;
  width: 80px;
  margin: 0 5px 0 0;
}

#calendar_box .box .order_info td textarea {
  width: 410px;
  height: 64px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  line-height: 32px;
  font-size: 16px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar_box .button_line {
  padding: 10px 0;
  text-align: center;
}

#calendar_box .button_line button.send {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  /* line-height: 40px; */
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #94ca60;
}

#calendar_box .button_line button.delete {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #990000;
}

#calendar_box .button_line button.view {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #ffb84d;
}

.btn-maintenance {
  color: #fff;
  background-color: #ffe932;
  border-color: #ffde00;
}

.btn-maintenance:focus, .btn-maintenance.focus {
  color: #fff;
  background-color: #f5d300;
  border-color: #6f5021;
}

.btn-maintenance:hover {
  color: #fff;
  background-color: #f5d300;
  border-color: #b58c19;
}

.btn-maintenance:active {
  color: #fff;
  background-color: #f5d300;
  background-image: none;
  border-color: #b58c19;
}

.btn-maintenance:active:hover, .btn-maintenance:active:focus, .btn-maintenance:active.focus {
  color: #fff;
  background-color: #c8a004;
  border-color: #6f5021;
}

.btn-maintenance.active {
  color: #fff;
  background-color: #f5d300;
  border-color: #b58c19;
}

.btn-maintenance.active:hover, .btn-maintenance.active:focus, .btn-maintenance.active.focus {
  color: #fff;
  background-color: #c8a004;
  border-color: #6f5021;
}

.btn-maintenance .btn-success.active {
  background-image: none;
}

.btn-maintenance.disabled, .btn-maintenance[disabled] {
  background-color: #ffe932;
  border-color: #ffde00;
}

.btn-maintenance.disabled:hover, .btn-maintenance.disabled:focus, .btn-maintenance.disabled.focus, .btn-maintenance.disabled:active, .btn-maintenance.disabled.active, .btn-maintenance[disabled]:hover, .btn-maintenance[disabled]:focus, .btn-maintenance[disabled].focus, .btn-maintenance[disabled]:active, .btn-maintenance[disabled].active {
  background-color: #ffe932;
  border-color: #ffde00;
}

.btn-maintenance .badge {
  color: #ffe932;
  background-color: #fff;
}

.btn-locked {
  color: #fff;
  background-color: #666;
  border-color: #555;
}

.btn-locked:focus, .btn-locked.focus {
  color: #fff;
  background-color: #444;
  border-color: #000;
}

.btn-locked:hover {
  color: #fff;
  background-color: #444;
  border-color: #222;
}

.btn-locked:active {
  color: #fff;
  background-color: #444;
  background-image: none;
  border-color: #222;
}

.btn-locked:active:hover, .btn-locked:active:focus, .btn-locked:active.focus {
  color: #fff;
  background-color: #333;
  border-color: #000;
}

.btn-locked.active {
  color: #fff;
  background-color: #444;
  border-color: #222;
}

.btn-locked.active:hover, .btn-locked.active:focus, .btn-locked.active.focus {
  color: #fff;
  background-color: #333;
  border-color: #000;
}

.btn-locked .btn-success.active {
  background-image: none;
}

.btn-locked.disabled, .btn-locked[disabled] {
  background-color: #666;
  border-color: #555;
}

.btn-locked.disabled:hover, .btn-locked.disabled:focus, .btn-locked.disabled.focus, .btn-locked.disabled:active, .btn-locked.disabled.active, .btn-locked[disabled]:hover, .btn-locked[disabled]:focus, .btn-locked[disabled].focus, .btn-locked[disabled]:active, .btn-locked[disabled].active {
  background-color: #666;
  border-color: #555;
}

.btn-locked .badge {
  color: #666;
  background-color: #fff;
}

.btn-long-term {
  color: #fff;
  background-color: #9e96ba;
  border-color: #8b86af;
}

.btn-long-term:focus, .btn-long-term.focus {
  color: #fff;
  background-color: #8882aa;
  border-color: #5d596c;
}

.btn-long-term:hover {
  color: #fff;
  background-color: #8882aa;
  border-color: #797593;
}

.btn-long-term:active {
  color: #fff;
  background-color: #8882aa;
  background-image: none;
  border-color: #797593;
}

.btn-long-term:active:hover, .btn-long-term:active:focus, .btn-long-term:active.focus {
  color: #fff;
  background-color: #7e7a9a;
  border-color: #5d596c;
}

.btn-long-term.active {
  color: #fff;
  background-color: #8882aa;
  border-color: #797593;
}

.btn-long-term.active:hover, .btn-long-term.active:focus, .btn-long-term.active.focus {
  color: #fff;
  background-color: #7e7a9a;
  border-color: #5d596c;
}

.btn-long-term .btn-success.active {
  background-image: none;
}

.btn-long-term.disabled, .btn-long-term[disabled] {
  background-color: #9e96ba;
  border-color: #8b86af;
}

.btn-long-term.disabled:hover, .btn-long-term.disabled:focus, .btn-long-term.disabled.focus, .btn-long-term.disabled:active, .btn-long-term.disabled.active, .btn-long-term[disabled]:hover, .btn-long-term[disabled]:focus, .btn-long-term[disabled].focus, .btn-long-term[disabled]:active, .btn-long-term[disabled].active {
  background-color: #9e96ba;
  border-color: #8b86af;
}

.btn-long-term .badge {
  color: #9e96ba;
  background-color: #fff;
}

.btn-qr {
  color: #fff;
  background-color: #BE8C68;
  border-color: #a56f48;
}

.btn-qr:focus, .btn-qr.focus {
  color: #fff;
  background-color: #8C5037;
  border-color: #7E432B;
}

.btn-qr:hover {
  color: #fff;
  background-color: #8C5037;
  border-color: #7E432B;
}

.btn-qr:active {
  color: #fff;
  background-color: #8C5037;
  background-image: none;
  border-color: #7E432B;
}

.btn-qr:active:hover, .btn-qr:active:focus, .btn-qr:active.focus {
  color: #fff;
  background-color: #753826;
  border-color: #5E2418;
}

.btn-qr.active {
  color: #fff;
  background-color: #8C5037;
  border-color: #7E432B;
}

.btn-qr.active:hover, .btn-qr.active:focus, .btn-qr.active.focus {
  color: #fff;
  background-color: #753826;
  border-color: #5E2418;
}

.btn-qr .btn-success.active {
  background-image: none;
}

.btn-qr.disabled, .btn-qr[disabled] {
  background-color: #E3BD9A;
  border-color: #C79977;
}

.btn-qr.disabled:hover, .btn-qr.disabled:focus, .btn-qr.disabled.focus, .btn-qr.disabled:active, .btn-qr.disabled.active, .btn-qr[disabled]:hover, .btn-qr[disabled]:focus, .btn-qr[disabled].focus, .btn-qr[disabled]:active, .btn-qr[disabled].active {
  background-color: #C79977;
  border-color: #A36B4C;
}

.btn-qr .badge {
  color: #BE8C68;
  background-color: #fff;
}

.btn-business {
  color: #fff;
  background-color: #8c2690;
  border-color: #7d1c81;
}

.btn-business:focus, .btn-business.focus {
  color: #fff;
  background-color: #6a106d;
  border-color: #430445;
}

.btn-business:hover {
  color: #fff;
  background-color: #6a106d;
  border-color: #59095c;
}

.btn-business:active {
  color: #fff;
  background-color: #6a106d;
  background-image: none;
  border-color: #59095c;
}

.btn-business:active:hover, .btn-business:active:focus, .btn-business:active.focus {
  color: #fff;
  background-color: #5a095d;
  border-color: #430445;
}

.btn-business.active {
  color: #fff;
  background-color: #6a106d;
  border-color: #59095c;
}

.btn-business.active:hover, .btn-business.active:focus, .btn-business.active.focus {
  color: #fff;
  background-color: #5a095d;
  border-color: #430445;
}

.btn-business .btn-success.active {
  background-image: none;
}

.btn-business.disabled, .btn-business[disabled] {
  background-color: #8c2690;
  border-color: #7d1c81;
}

.btn-business.disabled:hover, .btn-business.disabled:focus, .btn-business.disabled.focus, .btn-business.disabled:active, .btn-business.disabled.active, .btn-business[disabled]:hover, .btn-business[disabled]:focus, .btn-business[disabled].focus, .btn-business[disabled]:active, .btn-business[disabled].active {
  background-color: #8c2690;
  border-color: #7d1c81;
}

.btn-business .badge {
  color: #8c2690;
  background-color: #fff;
}

.btn-light.order {
  border: 1px solid #eee;
}

.btn-light.order i {
  color: #fff;
}

.open > .btn-maintenance.dropdown-toggle {
  color: #fff;
  background-color: #f5d300;
  border-color: #b58c19;
  background-image: none;
}

.open > .btn-maintenance.dropdown-toggle:hover, .open > .btn-maintenance.dropdown-toggle :focus, .open > .btn-maintenance.dropdown-toggle .focus {
  color: #fff;
  background-color: #c8a004;
  border-color: #6f5021;
}

.open > .btn-locked.dropdown-toggle {
  color: #fff;
  background-color: #444;
  border-color: #222;
  background-image: none;
}

.open > .btn-locked.dropdown-toggle:hover, .open > .btn-locked.dropdown-toggle :focus, .open > .btn-locked.dropdown-toggle .focus {
  color: #fff;
  background-color: #333;
  border-color: #000;
}

.open > .btn-long-term.dropdown-toggle {
  color: #fff;
  background-color: #8882aa;
  border-color: #797593;
  background-image: none;
}

.open > .btn-long-term.dropdown-toggle:hover, .open > .btn-long-term.dropdown-toggle :focus, .open > .btn-long-term.dropdown-toggle .focus {
  color: #fff;
  background-color: #7e7a9a;
  border-color: #5d596c;
}

fieldset[disabled] .btn-locked:hover, fieldset[disabled] .btn-locked:focus, fieldset[disabled] .btn-locked.focus, fieldset[disabled] .btn-locked:active, fieldset[disabled] .btn-locked.active {
  background-color: #666;
  border-color: #555;
}

fieldset[disabled] .btn-maintenance:hover, fieldset[disabled] .btn-maintenance:focus, fieldset[disabled] .btn-maintenance.focus, fieldset[disabled] .btn-maintenance:active, fieldset[disabled] .btn-maintenance.active {
  background-color: #ffe932;
  border-color: #ffde00;
}

fieldset[disabled] .btn-long-term:hover, fieldset[disabled] .btn-long-term:focus, fieldset[disabled] .btn-long-term.focus, fieldset[disabled] .btn-long-term:active, fieldset[disabled] .btn-long-term.active {
  background-color: #9e96ba;
  border-color: #8b86af;
}

table.bnb-list td:nth-child(10) a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-indent: -5000px;
  background: url(../image/gmap.png) no-repeat;
}

#qaContent {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

#qaContent li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#qaContent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#qaContent ul.accordionPart {
  margin: 20px 0 0 0;
  padding: 20px;
  background: #fafafa;
}

#qaContent ul.accordionPart li {
  margin: 0 0 12px 0;
  padding: 0;
  border: 2px solid #c6e2f1;
  border-radius: 5px;
  background: #fff;
}

#qaContent ul.accordionPart li:last-child {
  margin: 0;
}

#qaContent ul.accordionPart li .qa_title {
  position: relative;
  padding: 15px 0 15px 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #666;
  cursor: pointer;
  overflow: hidden;
}

#qaContent ul.accordionPart li .qa_title span {
  display: inline-block;
  width: 24px;
  margin: 0 5px 0 0;
  padding: 0 5px;
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  border-radius: 20px;
  background: #0084cb;
}

#qaContent ul.accordionPart li .qa_title b {
  float: right;
  margin: 0 40px 0 0;
  font-size: 14px;
  font-weight: normal;
}

#qaContent ul.accordionPart li .qa_title b input {
  margin: 0 0 -2px 5px;
}

#qaContent ul.accordionPart li .qa_title::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 8px;
  height: 8px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#qaContent ul.accordionPart li .qa_title.qa_title_on::before {
  top: 25px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#qaContent ul.accordionPart li .qa_content {
  position: relative;
  margin: 0 25px;
  padding: 15px 0;
  font-size: 20px;
  line-height: 1.6;
  color: #666;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
}

#qaContent ul.accordionPart li .qa_content p:first-child {
  float: left;
  width: 80%;
}

#qaContent ul.accordionPart li .qa_content p:last-child {
  float: left;
  width: 20%;
  text-align: right;
}

#qaContent ul.accordionPart li .qa_content p:last-child img {
  width: 70px;
  height: 70px;
}

#qaContent ul.accordionPart li .qa_content p span.highlight {
  color: #cc0000;
}

#qaContent2 {
  margin: 20px 0 0 0;
  padding: 20px;
}

#qaContent2 div.accordionPart {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #c6e2f1;
  border-radius: 5px;
  background: #fff;
}

#qaContent2 div.accordionPart .qa_title {
  position: relative;
}

#qaContent2 div.accordionPart .qa_title h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #0084cb;
  cursor: pointer;
}

#qaContent2 div.accordionPart .qa_title h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #666;
}

#qaContent2 div.accordionPart .qa_title::before {
  content: "+  展開";
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 55px;
  height: 26px;
  text-align: center;
  line-height: 24px;
  color: #0084cb;
  border: 1px solid #0084cb;
  border-radius: 5px;
  background: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

#qaContent2 div.accordionPart .qa_title.qa_title_on::before {
  content: "-  收合";
  color: #fff;
  border: 1px solid #1978ab;
  background: #1e91cf;
}

#qaContent2 div.accordionPart .qa_title p {
  font-size: 16px;
}

@media screen and (max-width: 560px) {
  #qaContent ul.accordionPart li .qa_content p:first-child {
    float: none;
    width: 100%;
  }
  #qaContent ul.accordionPart li .qa_content p:last-child {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.big-contract {
  margin: 15px 0;
  font-family: '微軟正黑體';
  font-size: 16px;
}

.big-contract div {
  margin: 10px 0 0 0;
  padding: 20px;
  border: 2px solid #c6e2f1;
  border-radius: 5px;
}

.big-contract div div {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #eee;
  background: #f4f4f4;
}

.big-contract h3 {
  font-weight: bold;
  color: #0084cb;
}

.big-contract h4 {
  font-size: 16px;
  font-weight: bold;
}

.big-contract p {
  font-size: 14px;
  line-height: 1.8;
}

.big-contract p span {
  display: inline-block;
  margin: 20px 0 5px 0;
  padding: 0 5px;
  color: #fff;
  border-radius: 5px;
  background: #ff9900;
}

.big-contract .notice-box {
  font-size: 14px;
  line-height: 1.6;
}

.big-contract .notice-box h4 {
  color: #333;
}

.big-contract label {
  margin: 0 10px 0 0;
  color: red;
}

@media screen and (max-width: 1240px) {
  #calendar_box .box .panel-body .nav-tabs li > a {
    padding: 15px 0;
  }
  #calendar_box .box .tab-content .tableform.tableform2 li input.address {
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  #calendar_box .box .panel-body {
    margin: 20px 0 0 0;
    padding: 0 0 5px 0;
    border: 0;
  }
  #calendar_box .box .panel-body .nav-tabs {
    border-bottom: 1px solid #ccc;
    overflow: visible;
  }
  #calendar_box .box .panel-body .nav-tabs li {
    display: inline-block;
    margin: 0 0 -2px 0;
    padding: 0 10px 0 0;
    border: 0;
    background: #fff;
  }
  #calendar_box .box .panel-body .nav-tabs li > a {
    margin: 0;
    border: 0;
    font-size: 18px;
    line-height: 22px;
    color: #999;
    cursor: pointer;
  }
  #calendar_box .box .panel-body .nav-tabs li > a:hover {
    background: none;
  }
  #calendar_box .box .panel-body .nav-tabs li.active {
    margin: 0 0 -2px 0;
    padding: 0 10px 0 0;
    border-left: 0;
    border-bottom: 3px solid #037FCE;
  }
  #calendar_box .box .panel-body .nav-tabs li.active > a {
    color: #555;
  }
  #calendar_box .box .panel-body .nav-tabs li.active > a span.num {
    background: #037FCE;
  }
  #calendar_box .box .panel-body .nav-tabs li.active > a span.txt {
    display: inline;
  }
  #calendar_box .box .tab-content {
    height: auto;
  }
  #calendar_box .box .tab-content .tableform {
    width: 100%;
    padding: 20px 5px;
    list-style: none;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
  }
  #calendar_box .box .tab-content .tableform.tableform2 li {
    height: auto;
  }
  #calendar_box .box .tab-content .tableform.tableform2 li label {
    width: 100%;
  }
  #calendar_box .box .tab-content .tableform.tableform2 li input.address {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }
  #calendar_box .box .tab-content .tableform li {
    float: none;
    display: block;
    line-height: 32px;
  }
  #calendar_box .box .tab-content .tableform li label {
    float: none;
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
  }
  #calendar_box .box .tab-content .tableform li input[type='text'] {
    width: 100%;
  }
  #calendar_box .box .tab-content .tableform li input.ptxt2 {
    width: 150px;
  }
  #calendar_box .box .tab-content .tableform li .input-group {
    display: block;
    overflow: auto;
  }
  #calendar_box .box .tab-content .tableform li .input-group span {
    float: none;
  }
  #calendar_box .box .tab-content .tableform li .input-group select {
    float: right;
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 850px) {
  .condition {
    margin: 0 auto;
  }
  .condition .part .leftbox {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .condition .part .rightbox {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
  #calendar_box .box .tab-content .tableform li .notebox {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #calendar_box .box .panel-body .nav-tabs li {
    width: auto;
  }
  #calendar_box .box .panel-body .nav-tabs li > a span.txt {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .condition {
    padding: 20px 0;
  }
  .condition .part .leftbox {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .condition .part .rightbox {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .condition .part .zone .condition-item {
    display: block;
  }
  .condition .part .zone .condition-item p {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
  }
  .condition .part .zone .condition-item label {
    display: inline-block;
    width: 100%;
  }
  .condition .part .zone .condition-item b {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px -4px 0;
  }
  .condition .part .zone.zone-3 .pimg {
    width: 248px;
    height: 116px;
    background: url(../image/zone_1_3.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-3 .pimg .bar.num-t1 {
    top: 90%;
    left: 20%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-3 .pimg .bar .num-t2 {
    top: 90%;
    left: 80%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-3 .pimg2 {
    width: 248px;
    height: 116px;
    background: url(../image/zone_2_3.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-3 .pimg2 .bar.num-t1 {
    top: 90%;
    left: 22%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-3 .pimg2 .bar.num-t2 {
    top: 90%;
    left: 77%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-3 .pimg3 {
    width: 248px;
    height: 116px;
    background: url(../image/zone_3_3.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-3 .pimg3 .bar.num-t1 {
    left: 76%;
    height: 12px;
  }
  .condition .part .zone.zone-3 .pimg3 .bar.num-t2 {
    left: 26%;
    height: 12px;
  }
  .condition .part .zone.zone-3 .pimg4 {
    width: 248px;
    height: 116px;
    background: url(../image/zone_4_3.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-4 .pimg {
    width: 248px;
    height: 116px;
    background: url(../image/zone_2_4.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-4 .pimg .bar.num-t3 {
    top: 90%;
    left: 80%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-4 .pimg .bar.num-t4 {
    top: 90%;
    left: 20%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-4 .pimg2 {
    width: 248px;
    height: 116px;
    background: url(../image/zone_2_4.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-4 .pimg2 .bar.num-t3 {
    top: 90%;
    left: 77%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-4 .pimg2 .bar.num-t4 {
    top: 90%;
    left: 22%;
    height: 10px;
    margin: 0 0 0 -1px;
  }
  .condition .part .zone.zone-4 .pimg3 {
    width: 248px;
    height: 116px;
    background: url(../image/zone_3_4.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-4 .pimg3 .bar.num-t3 {
    left: 76%;
    height: 12px;
  }
  .condition .part .zone.zone-4 .pimg3 .bar.num-t4 {
    left: 26%;
    height: 12px;
  }
  .condition .part .zone.zone-4 .pimg4 {
    width: 248px;
    height: 116px;
    background: url(../image/zone_4_4.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone.zone-4 .pimg4 .bar.num-23 {
    left: 24%;
    height: 30px;
  }
  .condition .part .order_info {
    width: 100%;
  }
  .condition .part .order_info th {
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .condition .part .order_info td {
    display: block;
    width: 100%;
    padding: 0 0 8px 0;
  }
  .condition .part .order_info td .date {
    width: 100%;
  }
  .condition .part .order_info td input.ptxt {
    width: 100%;
    height: 32px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    line-height: 32px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .condition .part .order_info td input.ptxt2 {
    width: 85%;
    height: 32px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    line-height: 32px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .condition .part .order_info td select {
    width: 100%;
    height: 32px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    line-height: 32px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .condition .part .order_info td textarea {
    width: 100%;
    height: 64px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    line-height: 32px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .condition .button_line {
    padding: 20px 0;
  }
  .condition .button_line button.send {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background: #94ca60;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .condition .part .zone .condition-item b.c0 {
    background: url(../image/condition_0@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c1 {
    background: url(../image/condition_1@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c2 {
    background: url(../image/condition_2@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c3 {
    background: url(../image/condition_3@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c4 {
    background: url(../image/condition_4@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c5 {
    background: url(../image/condition_5@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c6 {
    background: url(../image/condition_6@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  .condition .part .zone .condition-item b.c7 {
    background: url(../image/condition_7@2x.png) no-repeat 50% 50%;
    background-size: 100% 100%;
  }
  table.bnb-list td:nth-child(10) a {
    background: url(../image/gmap@2x.png) no-repeat;
    background-size: 35px 35px;
  }
}

.estimate-price {
  width: 100%;
  max-width: 600px;
}

.estimate-price th {
  padding: 3px;
  width: 200px;
  color: #fff;
  text-align: center;
  border-right: 1px solid #ccc;
  background: dodgerblue;
}

.estimate-price td {
  text-align: center;
  border: 1px solid #ccc;
}

.add-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background: dodgerblue;
}

.checkyes {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.checkyes input {
  width: 20px;
  height: 20px;
}
