/*
.fixedbox table th {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: normal;
	background: #037FCE;
}
.fixedbox table tr:first-child th.row {
	height: 40px;
	vertical-align: middle;
}
.fixedbox table th.datecol {
	height: 20px;
	padding: 0;
}
.fixedbox table tr:nth-child(2) th.datecol {
	width: 21px;
}
.fixedbox table > tr > th {
	border-bottom: 1px solid #fff;
}
.fixedbox table > tr > th {
	height: 20px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.fixedbox table > tr > td {
	height: 23px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.table td {
	font-weight: normal;
}
.fixedbox a.add {
	display: inline-block;
	width: 30px;
	height: 12px;
	background: url(../image/add.png) no-repeat;
}
.fixedbox a.edit {
	display: inline-block;
	width: 30px;
	height: 12px;
	background: url(../image/edit.png) no-repeat;
}
.fixedbox table th, .fixedbox table td {
	margin: 0;
	padding: 0;
} 
.fixedtb td table td.red {
	background: #ffe6f5;
}
.fixedtb td table td.green {
	background: #d3fed3;
}
.fixedbox table tr a.btn {
	width: 100%;
}
.fixedbox table tr a.btn-xs {
	padding: 1px 0;
}
.fixedbox table tr a.btn-xs .fa {
	font-size: 10px;
}
.fixedbox table .space {
	float: left;
	display: inline-block;
	width: 10px;
	height: 22px;
}
*/
.fixedbox { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.GridViewScrollHeader TH, .GridViewScrollHeader TD {
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	white-space: nowrap;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #037FCE;
}
.GridViewScrollHeader TH {
	width: 22px;
}
.GridViewScrollItem TD {
	height: 25px;
	text-align: center;
	font-size: 12px;
	color: #444444;
	white-space: nowrap;
	/*line-height: 25px;*/
	vertical-align: middle;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.GridViewScrollItem:nth-child(odd) {
	background: #f4f4f4;
}
.GridViewScrollItem TD:first-child {
	text-align: center;
	border-left: 1px solid #e6e6e6;
}
.GridViewScrollHeader TD:first-child, .GridViewScrollHeader:first-child TH:first-child {
	border-left: #e6e6e6;
} 
.GridViewScrollItem TD:first-child, .GridViewScrollItem TD:nth-child(2) {
	width: 120px;
}
.GridViewScrollItem TD:nth-child(3) {
	width: 30px;
}
.fixw {
	width: 120px;
	height: 25px;
	line-height: 25px;
}
.fixws {
	width: 30px;
}
.fixgrid {
	float: left;
	width: 10px;
	height: 0;
}
.GridViewScrollItem TD a {
	display: inline-block;
	width: 10px;
	height: 20px;
}
.GridViewScrollItem TD a.order {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 0;
}
.GridViewScrollItemFreeze TD {
	text-align: center;
	font-size: 12px;
	height: 25px;
	vertical-align: middle;
	/*line-height: 25px;*/
	color: #444444;
	white-space: nowrap;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.GridViewScrollItemFreeze TD:first-child {
	border-left: 1px solid #e6e6e6;
}
.GridViewScrollItemFreeze:nth-child(even) {
	background: #fff;
}
.GridViewScrollItemFreeze:nth-child(odd) {
	background: #f4f4f4;
}
.img-tooltip {
	position: absolute;
}
#gvMain_Content_Fixed table tr:nth-child(4) td, #gvMain_Content_Freeze table tr:nth-child(4) td, #gvMain_Header_Fixed_Grid tr:nth-child(3) td{
	height: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
	.fixedbox a.add {
		background: url(../image/add@2x.png) no-repeat;
		background-size: 30px 12px;
	}
	.fixedbox a.edit {
		background: url(../image/edit@2x.png) no-repeat;
		background-size: 30px 12px;
	}
}