<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-voucher" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <!--===================================== 訊息提示 Start =======================================-->
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <!--======================================= 訊息提示 End =======================================-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-voucher" class="form-horizontal">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-code"><?php echo $column_del_func; ?></label>
                <div class="col-sm-10">
                  <input type="text" name="del_func" value="" placeholder="<?php echo $entry_del_func; ?>" id="input-code" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-code"><?php echo $column_new_func_desc; ?></label>
                <div class="col-sm-10">
                  <input type="text" name="new_func_desc" value="最新消息" placeholder="<?php echo $entry_new_func_desc; ?>" id="input-code" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-code"><?php echo $column_new_func_path; ?></label>
                <div class="col-sm-10">
                  <input type="text" name="new_func_path" value="site" placeholder="<?php echo $entry_new_func_path; ?>" id="input-code" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-code"><?php echo $column_new_func; ?></label>
                <div class="col-sm-10">
                  <input type="text" name="new_func_class" value="news" placeholder="<?php echo $entry_new_func; ?>" id="input-code" class="form-control" />
                </div>
              </div>


            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--

//--></script>
</div>
<?php echo $footer; ?>