<?php echo $header; ?>
<header></header>
<div class="wrapper container">
	<div class="container-fluid">
		<div class="container-fluid title bnb">會員中心</div>
		<form action="?route=site/customer/login" method="post">
			<div class="memberbox">
				<p class="stitle">登入</p>
				<?php if ( !empty(isset( $success))) { ?>
					<div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
				<?php } ?>

				<p>
					<label>帳號</label>
					<input type="text" name="customer_id" value="A122843359" placeholder="請使用 身分證(護照)" onKeyUp="up(this)">
				</p>
				<p>
					<label>密碼</label>
					<input type="text" name="password" value="09332019820912230264" placeholder="預設以行動電話作為密碼">
				</p>

				<p><input type="submit" value="送出"></p>
				<p class="shortcut"><a href="?route=site/customer/forget">忘記密碼</a><a href="?route=site/customer/joinus">加入我們</a></p>
			</div>
		</form>
		<script type="text/javascript">
			function up(d){
				d.value=d.value.toUpperCase();
			}
		</script>
	</div>
</div>
<?php echo $footer; ?>