<!doctype html>
<html lang="zh-TW">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
        <title>Website name</title>
        <style>
            p {
                margin: 0;
                padding: 0;
            }
        </style>
	</head>
	<body>
		<div style="width: 900px; overflow: hidden; box-sizing: border-box; font-family: '微軟正黑體'; font-size: 12px;">
			<table style="margin: 0 0 10px 0; border-spacing: 0;">
				<tr>
					<td style="width: 33%;"><img src="./image/logo_pdf.jpg" alt="" style="max-width: 100%;"></td>
					<td style="width: 34%; text-align: center;">
						<p style="margin: 0 0 10px 0; padding: 0; font-size: 14.4px; font-weight: bold; letter-spacing: 2px;">Agreement</p>
						<p style="margin: 0 0 10px 0; padding: 0; font-size: 36px; font-weight: bold; line-height: 32px;">出租單</p>
					</td>
					<td style="width: 23%;">
						<p style="margin: 0 0 10px 0; padding: 0; font-size: 14.4px; font-weight: bold;">出租合約書單號<br>Agreement No.</p>
						<p style="margin: 0; padding: 0; font-size: 32px; font-weight: bold; color: red;"><?=$rentInfo['agreement_no']?></p>
					</td>
					<td style="width: 10%; margin: 0; padding: 5px; vertical-align: top; text-align: center; font-weight: bold; border: 1px solid #000;">
						同行人數<br><span style="font-size:30px;"><?=($rentInfo['adult']+$rentInfo['baby']+$rentInfo['children']);?></span></td>
				</tr>
			</table>
			<div style="width: 100%; overflow: hidden;">
				<div style="float: left; width: 20px; text-align: center; word-break: break-all;">
					第<br>一<br>聯<br><i style="display:block; font-style: normal; transform:rotate(90deg);">（</i>藍<i style="display:block; font-style: normal; transform:rotate(90deg);">）</i>：<br>公<br>司<br>聯<br>　<br>　<br>第<br>二<br>聯<i style="display:block; font-style: normal; transform:rotate(90deg);">（</i>綠<i style="display:block; font-style: normal; transform:rotate(90deg);">）</i>：<br>會<br>計<br>存<br>查<br>聯<br>　<br>　第<br>三<br>聯<i style="display:block; font-style: normal; transform:rotate(90deg);">（</i>白<i style="display:block; font-style: normal; transform:rotate(90deg);">）</i>：<br>客<br>戶<br>聯<br>　<br>　第<br>四<br>聯<i style="display:block; font-style: normal; transform:rotate(90deg);">（</i>黃<i style="display:block; font-style: normal; transform:rotate(90deg);">）</i>：<br>預<br>收<br>款<br>項<br>聯
				</div>
				<div style="float: left; width:880px;">
					<table style="width: 100%; border: 2px solid #000; border-spacing: 0;">
						<tr>
							<td style="padding: 0;">
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td style="width: 33%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0;">車牌號碼<i style="padding: 0 0 0 3px; font-style: normal;">Vehicle Plate No.</i><p style="font-size: 16px; line-height: 24px; color:black;"><?=$rentInfo['car_no']?></p></td>
										<td style="width: 34%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0; border-right: 0;">廠牌/車型/顏色<i style="padding: 0 0 0 3px; font-style: normal;">Brand/Model/Color</i><p style="font-size: 16px; line-height: 24px;"><?=$carSeed['car_seed']?>/<?=$carSeed['car_color'];?></p></td>
										<td style="width: 33%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top; border: 1px solid #000; border-top: 0; border-right: 0;">里程數(出/回)<i style="padding: 0 0 0 3px; font-style: normal;">Miles Out & In</i><p style="font-size: 16px; line-height: 24px;"><?=$rentInfo['rent_miles_out']?>/<?=$rentInfo['rent_miles_in'];?></p></td>
									</tr>
								</table>
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td style="width: 25%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0;">承租人姓名<i style="padding: 0 0 0 3px; font-style: normal;">Renter</i><p style="font-size: 16px; line-height: 24px; color:black;"><?=$rentInfo['rent_user_name']?></p></td>
										<td style="width: 30%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0;">身分證字號/護照號碼ID<i style="padding: 0 0 0 3px; font-style: normal;">ID/Password No.</i><p style="font-size: 16px; line-height: 24px; color:black;"><?=$rentInfo['rent_user_id']?></p></td>
										<td style="width: 20%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0; border-right: 0;">出生年月日<i style="padding: 0 0 0 3px; font-style: normal;">Date of Birth</i><p style="font-size: 16px; line-height: 28px; color:black;"><?=$rentInfo['rent_user_born']?></p></td>
										<td style="width: 25%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-right: 0;">手機<i style="padding: 0 0 0 3px; font-style: normal;">Mobile</i><p style="font-size: 16px; line-height: 24px; color:black;"><?=$rentInfo['rent_user_tel']?></p></td>
									</tr>
								</table>
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td style="width: 50%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0; border-right: 0;">聯絡地址<i style="padding: 0 0 0 3px; font-style: normal;">Address</i><p style="font-size: 16px; line-height: 28px; color:black;"><?=$rentInfo['rent_user_address']?></p></td>
										<td style="width: 50%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top; border: 1px solid #000; border-top: 0; border-right: 0;">
											公司名稱與統編<i style="padding: 0 0 0 3px; font-style: normal;">Company＆VAT No.</i><br><p style="font-size: 16px; line-height: 28px;"><?=$rentInfo['rent_company_name'];?></p><br>
											<div style="margin:0; padding: 0; overflow: hidden;">
												<p style="float: right; margin: 0; padding: 0; overflow: hidden;"><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],0,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],1,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],2,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],3,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],4,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],5,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000; border-right: 0;"><?php echo (substr($rentInfo['rent_company_no'],6,1))?></span><span style="float: left; display: block; width: 20px; height: 20px; border: 1px solid #000;"><?php echo (substr($rentInfo['rent_company_no'],7,1))?></span></p>
											</div>
										</td>
									</tr>
								</table>
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td style="width: 50%; height: 32px; padding: 3px; font-weight: bold; border: 1px solid #000; vertical-align: top; border: 1px solid #000; border-top: 0; border-left: 0; border-right: 0;">緊急連絡人/電話<i style="padding: 0 0 0 3px; font-style: normal;">Emergency Contact/Tel</i><p style="font-size: 16px; line-height: 28px;"><?php echo $rentInfo['urgent_man']?><?php echo (($rentInfo['urgent_mobile'] != '')?'/'.$rentInfo['urgent_mobile']:'')?></p></td>
										<td style="width: 50%; width: 50%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border: 1px solid #000; border-top: 0; border-right: 0;">共同承租人/身分證字號/電話<i style="padding: 0 0 0 3px; font-style: normal;">Co-Renter/ID No./Tel</i><p style="font-size: 16px; line-height: 28px;"></p></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding: 0; border: 2px solid red;">
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td colspan="2" style="font-size: 14px; font-weight: bold; text-align: center; vertical-align: middle; border-bottom: 1px solid #000;">出車/還車資料<i style="padding: 0 0 0 3px; font-style: normal;">Vechicle Check Out/In Information</i></td>
									</tr>
									<tr>
										<td style="width: 50%; padding: 3px; font-size: 9px; line-height: 140%;">
											<i style="font-style: normal; font-weight: bold;">注意事項</i><i style="padding: 0 0 0 3px; font-style: normal; font-weight: bold;">Point For Attention</i><br>
											1.車輛發生事故或失竊時請立刻報警處理（110）及通知本公司（082-371888）。<br>
											2.<i style="font-style: normal; color: red;">本公司車輛均有強制險，如有事故顧客需賠償本公司維修之費用及本公司之營業損失。</i><br>
											3.上述保險不包括因自然災害造成之損傷及車内配備遺失或損壞之賠償責任，承租人有保管之責，若有損竊事實發生，相關賠償概由承租人負擔。<br>
											4.承租人使用期間所有<i style="font-style: normal; color: red;">停車費及交通罰緩概由承租人負擔。</i><br>
											5.隨車證件：行照，強制保卡。<br>
											6.本人已於簽署前經合理期間審閱確認且<i style="font-style: normal; color: red; text-decoration: underline;">同意合約書第一頁及第二頁全數條款及條件</i><i style="font-style: normal; color: red;">，並了解保險未含零配件之損竊，若有損竊發生承租人願負損害賠償之責。</i>若以信用卡付款時以下簽名即表示授權出租人就有關租金費，以承租人名義處理信用卡收款單以供付款。<br>
											7.承租人同意出租人基於租賃車輛需求，消費者/客戶管理，統計分析與研究分析同意本行蒐集，處理及利用其個人資料保護法第二條第一項之個人資料（如本合約書内容）。<br>
											<i style="font-style: normal; color: red;">取車需知：</i><br>
											<i style="font-style: normal; color: red;">計費方式：</i>本公司計費以<i style="font-style: normal; color: red;">24小時為一日，*逾時6小時</i>以一日計算，每逾1小時加收本公司訂定日租金10％，不足1小時以1小時計算；取車時依顧客預計還車時間計費；<i style="font-style: normal; color: red;">如需延長時間需於合約結束前3小時與本公司聯繫並取得同意</i>，無法續約情形發生時，請按合約結束時間前還車，<i style="font-style: normal; color: red;">因未準時還車影響其他顧客用車權益除收取超時租金外，將額外酌收該車日租金3倍之賠償金額。（*逾時為超出「日」之定義非指與本公司協議之時間）</i><br>
											<i style="font-style: normal; color: red;">油料部份：</i>本公司出租汽車之油料部份皆為滿油（油料指示針在滿油線以上），承租人需於還車需補滿油料還回，請參閱背頁油費計算公式計價。<br>
											提前還車：如旅客因個人因素提前還車依合約時間起算未滿一天不予退費。<br>
											還車須知：承租人交車時必需確認還車地點，如需變更得於前一日自行來電告知，如未按計畫地點辦理還車手續，本公司將酌收300元行政作業費用，敬請見諒！
										</td>
										<td style="width: 50%; vertical-align: top;">
                                            <div style="padding: 3px; border-left: 1px dashed #000;">
                                                <span style="font-weight: bold;">車輛外觀狀況確認表 Vehicle Exterior Condition Report</span><br><br>
                                                <span style="display: block; font-size: 24px; font-weight: bold; text-align: center; color: #555;">以本公司租車時所提供<br>之記錄表及錄影檔為主</span><br>
                                                <span style="display: block; padding: 0 10px 10px 0; font-size: 16px; font-weight: bold; color: #ff0000; text-align: right;">□錄影：____________________</span>
                                                <span style="display: block; padding: 0 10px 20px 10px;"><img src="gasoline.jpg" alt="" style="width: 100%; max-width:100%;"></span>
                                                <!-- <img src="./image/car_pdf.jpg" style="max-width: 100%;" alt=""> -->
                                                <span style="display: block; padding: 0 0 0 10px; color:#ff0000;">汽車每台車檢附2把雨傘 / 行車記錄器乙台</span>
                                                <span style="display: block; padding: 0 0 10px 10px; color:#ff0000;">2 umbrella & 1 dashboard camera for one car</span>
                                            </div>
                                            <div style="padding: 10px 3px; border-top: 1px dashed #000;">
                                                <i style="font-weight: bold; font-style: normal; color: red; text-decoration: underline;">提醒事項</i><br>
                                                1.本公司訂車系統同筆訂單同時訂同款車型車輛，<i style="font-style: normal; color: red;">如租/還車及車款若有不同之處請分開下單</i>；<br>
                                                2.訂單如為多筆車輛，本合約以租車人為主要合約人，同行者需提供合格駕駛執照作為核對之依據，<i style="font-style: normal; color: red;">當車輛如發生違反本合約相關條文時，本公司仍以租車人作為合約執行對象</i>，簽訂後同意所有條款，如無法接受，請分開訂車。
                                            </div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding: 0; border-top: 1px solid #000; border-bottom: 1px solid #000;">
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td style="width: 42%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border-right: 1px solid #000;">
											實際出車日期與時間<i style="padding: 0 0 0 3px; font-style: normal;">Check In Time & Date</i><br>
											<i style="font-size: 15px; font-style: normal; line-height: 32px; color: #000;">
											西元
<?php
											if(isset($rentInfo['rent_date_out_true']) && $rentInfo['rent_date_out_true'] != '0000-00-00 00:00:00'){
?>
											<u> <?php echo substr($rentInfo['rent_date_out_true'],0,4)?> </u>年
											<u> <?php echo substr($rentInfo['rent_date_out_true'],5,2)?> </u>月
											<u> <?php echo substr($rentInfo['rent_date_out_true'],8,2)?> </u>日
											<u> <?php echo substr($rentInfo['rent_date_out_true'],11,2)?> </u>時
											<u> <?php echo substr($rentInfo['rent_date_out_true'],14,2)?> </u>分
<?php
											}else{
?>
												　年　月　日　時　分
<?
											}
?>											
											</i><i style="font-size: 10px; font-style: normal; line-height: 32px; color: #000;">(Y/M/D/TIME)</i>
										</td>
										<td style="width: 29%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top; border-right: 1px solid #000;">
											出車業務簽名<i style="padding: 0 0 0 3px; font-style: normal;">Check In Staff Signature</i>
											<p style="text-align:center;font-size: 18px;font-style: normal;line-height: 32px;color: #000;"><?php echo $create_man;?></p>
										</td>
										<td style="color:red;width: 29%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top;">
											承租人出車簽名<i style="padding: 0 0 0 3px; font-style: normal;">Check In Renter Signature</i><p style="text-align:center"><?php echo $img_sign;?></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding: 0; border-top: 1px solid #000; border-bottom: 1px solid #000;">
								<table style="width: 100%; border-spacing: 0;">
									<tr>
										<td style="width: 42%; height: 32px; padding: 3px; font-weight: bold; color: red; vertical-align: top; border-right: 1px solid #000;">
											實際還車日期與時間<i style="padding: 0 0 0 3px; font-style: normal;">Check Out Time & Date</i><br>
											<i style="font-size: 15px; font-style: normal; line-height: 32px; color: #000;">
											西元
											<u> <?php echo substr($rentInfo['rent_date_in'],0,4)?> </u>年
											<u> <?php echo substr($rentInfo['rent_date_in'],5,2)?> </u>月
											<u> <?php echo substr($rentInfo['rent_date_in'],8,2)?> </u>日
											<u> <?php echo substr($rentInfo['rent_date_in'],11,2)?> </u>時
											<u> <?php echo substr($rentInfo['rent_date_in'],14,2)?> </u>分
											</i>
											<i style="font-size: 10px; font-style: normal; line-height: 32px; color: #000;">(Y/M/D/TIME)</i>
										</td>
										<td style="width: 29%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top; border-right: 1px solid #000;">
											還車業務簽名<i style="padding: 0 0 0 3px; font-style: normal;">Check Out Staff Signature</i><p style="text-align:center;font-size: 18px;font-style: normal;line-height: 32px;color: #000;"><?php echo $return_man;?></p>
										</td>
										<td style="color:red;width: 29%; height: 32px; padding: 3px; font-weight: bold; vertical-align: top;">
											承租人還車簽名<i style="padding: 0 0 0 2px; font-style: normal;">Check Out Renter Signature</i><p style="text-align:center"><?php echo $img_sign_in;?></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding: 0;">
								<table style="position: relative; width: 100%; border-spacing: 0;">
									<tr>
										<td style="position: absolute; right: 0; top: 0; width: 32.2%; height: 97%; padding: 3px; background: #fff;"><span style="font-size: 14px; font-weight: bold;">合約細節</span><br>http://kmfun.tw/?route=information/page&token=A2DDDBF2-82AA-C541-F603-64B8ED6CE4D7<br><img src="./image/qr-code.png" alt="" style="display: block; width: 50%; max-width: 100%; margin: 0 auto;"></td>
										<td style="width: 3%; font-weight: bold; font-size: 16px; text-align: center; border-right: 1px solid #000;">收<br>款<br>明<br>細<br><i style="font-style: normal; color: red;">　<br>禁<br>止<br>修<br>改<br>價<br>格</i></td>
										<td style="width: 97%; padding: 0; border-bottom: 0; vertical-align: top;">
											<div style="padding: 35px 3px; line-height: 160%;">
											<?php
												$parry = array('□','□','□','□');
												if($rentInfo['pay_type'] == 1){
													//信用卡
													$parry[1] = "■";
												}else if($rentInfo['pay_type'] == 2){
													//現金
													$parry[0] = "■";
												
												}else if($rentInfo['pay_type'] == 3){
													//匯款
													$parry[3] = "■";
												
												}else if($rentInfo['pay_type'] == 2){
													//應收
													$parry[2] = "■";
												}
											?>
												<span style="font-size: 14px; font-weight: bold; color:#ff0000; ">租車時相關收費： <?echo $parry[0];?>現金　<?echo $parry[1];?>刷卡　<?echo $parry[2];?>應收$________________　<?echo $parry[3];?>匯款</span><br>
												<table style="width: 65%; border: 1px solid #000; border-spacing: 0;">
													<tr>
														<th style="width: 33%; height: 18px; text-align: center; border-right: 1px solid #000; border-bottom: 1px solid #000;">租車費用</th>
														<th style="width: 34%; text-align: center; border-right: 1px solid #000; border-bottom: 1px solid #000;">小額免償費用</th>
														<th style="width: 33%; text-align: center; border-right: 0px solid #000; border-bottom: 1px solid #000;">配件費用</th>
													</tr>
													<tr>
														<td style="height: 18px; text-align: center; border-right: 1px solid #000;"><?=$rentInfo['total']?></td>
														<td style="text-align: center; border-right: 1px solid #000;">0</td>
														<td style="text-align: center; border-right: 0px solid #000;"><?php echo (($rentInfo['plug_total']=="")?0:$rentInfo['plug_total']);?></td>
													</tr>
												</table>
											</div>
											<div style="padding: 3px; line-height: 160%;">
<?php
												$parry2 = array('□','□');
												if($rentInfo['pay_type'] == 4){
													//現金
													$parry2[0] = "■";
												}else if($rentInfo['pay_type'] == 5){
													//信用卡
													$parry2[1] = "■";
												}

?>
                                                <span style="font-size: 14px; font-weight: bold; color:#ff0000; ">還車時相關收費： <?echo $parry2[0];?>現金　 <?echo $parry2[0];?>刷卡　□其他________________</span><br>
                                                <table style="width: 65%; border: 1px solid #000; border-spacing: 0;">
													<tr>
														<th style="width: 17%; height:18px; padding: 3px;border-right: 1px solid #000; border-bottom: 1px solid #000;">逾時費用</th>
														<th style="width: 17%; padding: 3px; border-right: 1px solid #000; border-bottom: 1px solid #000;">油料費用</th>
														<th style="width: 17%; padding: 3px; border-right: 1px solid #000; border-bottom: 1px solid #000;">營業損失</th>
														<th style="width: 17%; padding: 3px; border-right: 1px solid #000; border-bottom: 1px solid #000;">車體損失</th>
														<th style="width: 16%; padding: 3px; border-right: 1px solid #000; border-bottom: 1px solid #000;">其他費用</th>
														<th style="width: 16%; padding: 3px; border-right: 0px solid #000; border-bottom: 1px solid #000;">租車退款</th>
													</tr>
													<tr>
														<td style="height: 18px; text-align: center; border-right: 1px solid #000;"><?=$rentInfo['overTime_cost']?></td>
														<td style="text-align: center; border-right: 1px solid #000;"><?=$rentInfo['oil_cost']?></td>
														<td style="text-align: center; border-right: 1px solid #000;"><?=$rentInfo['business_lose']?></td>
														<td style="text-align: center; border-right: 1px solid #000;"><?=$rentInfo['car_lose']?></td>
														<td style="text-align: center; border-right: 1px solid #000;"><?=$rentInfo['other_lose']?></td>
														<td style="text-align: center; border-right: 0px solid #000;"></td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>	
				</div>
			</div>
			<table style="width: 100%; margin: 10px 0 0 0;">
				<tr>
					<td style="width: 20%; padding: 0 5% 0 20px;">
						<img src="./image/logo_pdf.jpg" alt="" style="max-width: 100%;">
					</td>
					<td style="width: 80%;">
						出租行號：金豐租車行　統一編號：41147204　　E-Mail：kmfun999@gmail.com　　傳真：082-372333　　<i style="font-style: normal; color: red;">http://kmfun.tw</i><br>
						營登地址：金門縣金湖鎮太湖路二段207號1樓　　金城總店082-371888　　金湖店082-330222　　機場服務檯082-335333
					</td>
				</tr>
			</table>
		</div>
	</body>	
</html>
